# Data Processing
pandas
numpy

# Machine Learning
scikit-learn
xgboost
lightgbm

# Class Imbalance
imbalanced-learn

# Explainability
shap

# Visualization
matplotlib
seaborn

# Deployment
streamlit

# Jupyter
jupyter
ipykernel

# Utilities
python-dotenv
